.live-bids {
  width: 90%;
  max-width: 1200px;
}
.live-bids-head {
  display: flex;
  font-size: 26px;
  padding-left: 15px;
  margin: 30px 0;
  justify-content: space-between;
}
.live-bids-wrapper-big-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.live-bids-spinner {
  display: flex;
  justify-content: center;
}
.live-bids .ant-table {
  width: 100%;
  overflow: auto;
}
@media (max-width: 768px) {
  .live-bids .ant-table .ant-btn {
    width: 8rem;
    height: auto;
    min-height: 32px;
    word-break: break-word;
    white-space: inherit;
  }
}
.live-bids .ant-table tr.new {
  background-color: #f1deba;
}
section.main-info {
  display: flex;
  justify-content: center;
}
.ant-modal-body input {
  border: 1px #2ea4db solid !important;
}
